@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(151, 151, 255, 0.119);

}


:root {
    --light-green: #7411F6;
}

a {
    color: white;
    text-decoration: none;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

header {
    text-align: center;
    background-color: var(--light-green);
    color: white;
    padding-block: 1.5em;
}

#goBackHome {
    position: absolute;
    left: 2vw;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: block;
    text-align: center;
}

.container p {
    text-align: center;
    font-size: 2rem;
    padding-top: 1em;
    padding-bottom: .5em;
}

.container img {
    width: 80%;
}

/* this is the footer section  */

footer {
    background-color: var(--light-green);
    margin-top: 5em;
}

footer h4 {
    color: white;
    text-align: center;
    padding: .5em 0 1em;
    font-size: 18px;
    font-weight: normal;
}

footer ul li {
    display: inline-block;
    margin-inline: 10px;
}

footer li:hover {
    text-decoration: underline;
}

footer ul {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

footer #copyright {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}