@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    max-height: 100vh;
    overflow: hidden;
}

header {
    text-align: center;
    background-color: #7411F6;
    color: white;
    padding-block: 1.5em;
}

#goBackHome {
    position: absolute;
    left: 100px;
    text-decoration: none;
}

#label {
    display: none;
    position: absolute;
    margin-left: -10px;
    z-index: 999;
}


#goBackHome:hover #label {
    display: block;
}